
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@1,100&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    display: flex;
    background: linear-gradient(to right bottom, rgb(80, 157, 111),rgb(232, 189, 207));
}
 

.sidebar{
    margin-top: 5%;
    margin-left: 5px;
    background-color: rgba(12, 139, 59, 0.277);
    width: 200px;
    height: 80vh;
    border-radius: 15px;
    transition: all ease-in 2s; 
}
.sidebar nav{
    padding: 40px;
    display: flex;
    align-items: center;

}
.sidebar nav li{
    font-size: 20px;
    list-style: none;
    padding: 33px 0;
    background: transparent;
}
.sidebar nav li a:hover{
    text-shadow: 0 0 10px rgb(222, 244, 232),
    0 0 25px rgb(195, 230, 211),0 0 50px rgb(210, 234, 220), 
    0 0 100px rgb(213, 235, 223), 0 0 200px rgb(215, 242, 227);

}

.sidebar nav li a{
    text-decoration: none;
    color: white;
    background: none;
}
.main{
    /* background-color: rgb(159, 118, 197); */
    width: 90vw;
    height: 110vh;
}
.infocontainer{
    /* background-color: rgb(152, 47, 47); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.heading{
    position: absolute;
    font-size: 40px;
    top: 45px;
    font-family: Young Serif;
    color: rgb(13, 46, 29);
    transition: all ease-in 3s;
}
.heading:hover{
    color: rgb(29, 86, 53);
}
.devinfo{

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.hello{
    font-size: 65px;
    font-family: 
    Dancing Script;

}
.name{
    font-size: 60px;
    font-family: 
    Dancing Script;
    font-weight: bold;
}
.name:hover{
    color: rgb(173, 237, 203);
    text-shadow: rgb(101, 164, 129) 10px 0 10px;
}
.about{
    font-size: 30px;
    font-family:Dancing Script;
}

.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-family: Dancing Script;
    transition: all ease-in 2s;
}
.button{
    margin-top: 34px;
}
.button button{
    padding: 9px 14px;
    border: none;
    border-radius: 22px;
    color: white;
    background-color: rgb(28, 98, 68);
    font-weight: bold;
    font-size: 15px;
    margin: 0 12px;
    cursor: pointer;
 }
 /*
.button button:hover{
    color: rgb(28, 98, 68);
    background-color: antiquewhite;
}*/


.button button:hover{
    background-color: white;
color: rgb(28, 98, 68); 
    box-shadow: 0 0 10px seagreen,
    0 0 25px seagreen,0 0 50px seagreen, 
    0 0 100px seagreen, 0 0 200px seagreen;
}
.devpic img{
    margin-top: 25px;
    width: 550px;
    height: 55vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 1s;
}
.devpic img:hover{
    scale: 1.1;
}
footer{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(80, 157, 111),rgb(232, 189, 207));
    
}
.footercon:hover{
    color: rgb(195, 243, 216);
    text-shadow: rgb(203, 232, 234) 10px 0px 100px;
}
.footercon{
    display: inline-block;
    padding: 15% 30%;

}
.footercon h2{
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
    transition: all ease-in-out 2s;
   
    
}
.icon2{

    font-size: 55px;
    position: relative;
    left: 45%;


}
.icon{
    font-size: 30px;
    position: relative;
    left: 30%;
    margin-top: 35px;
    margin-left: 20px;
    line-height: 55px;
    
}
.footercon p{
    font-size: 35px;
    margin-left: 25%;
    margin-top: 35px;
    line-height: 55px;
}
.footerover{
    height: 25%;
    width: 80%;
    background-color: rgba(69, 208, 152, 0.471);
    display: flex;
    position: absolute;
    top: 105%;
    left: 10%;
    border-radius: 15px;
}
.footerover h3{
    padding: 60px 50px;
    font-size: 35px;
    font-family: 'poppins',sans-serif;
}
.footerover p{

    margin-left: 75px;
    padding: 15px;    
    font-size: 25px;
    font-family: 'poppins',sans-serif;

}
.but{
    font-size: 20px;
    height: 60px;
    width: 180px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 80px;
    left: 2%;
    border: 2px solid seagreen;
}
.but:hover{
    background-color: seagreen;
    color: white;

}

/*styling of  contact page*/

.main1{
    height: 100vh;
    width: 100%;

}
.BOX{
    height: 88%;
    width: 55%;
    position: relative;
    top: 30px;
    left: 25%;
    border: 2px solid rgb(29, 111, 87);
    box-shadow: 0 0 100px seagreen;

}
.contactform{
    font-family: 'poppins',sans-serif;
    padding-top: 40px;
    position: relative;
    left: 8%;
    
}
.contactform h1{
    font-family:  sans-serif,monospace;
    font-weight: 600;
    font-size: 35px;
    position: relative;
    right: 4%;

}
.contactform form div{
    font-size: 19px;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;

}
label{
    font-size:20px ;
    position: relative;
    top: 30px;
    
}

.contactform form div input{
    width: 20vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 4px;
    border: 2px solid seagreen;
    position: relative;
    left: 20%;
    
}
.mb-31 input{
    height: 100px;
    width: 100%;
}
#emailHelp{
    font-size: 11px;
    color: rgb(22, 22, 157);
    margin: 0 150px;
    padding: 10px 0 ;

}
#form-check {
    flex-direction: row;

}

#form-check input {
    width: 15px;
    margin: 3px 0;
    position: absolute;
    left: 230px;
    top: 90%;

}
.form-check-label{
    position: absolute;
    top: 90%;
    left: 35%;
    font-size: 15px;

}
.btn{
    height: 25px;
    width: 80px;
    font-size: 18px;
    color: white;
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 60%;

}
.btn:hover{
    background-color: white;
    color: seagreen;

}
.BOX:hover{
       box-shadow: 0 0 150px rgb(185, 229, 204);
}
/*styling about me page*/

.intro h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    
}
.intro p{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}
#form{
    display: flex;
    justify-content: space-around;
}
.skillcontainer{
    height: 55%;
    width: 30%;
    background-color: rgba(19, 108, 67, 0.522);
    margin: 40px 60px;
    padding: 20px 100px;
    border-radius: 15px;
}
.skillcontainer h3{
    margin-bottom: 20px;

}
.contain{
    
    height: 55%;
    width: 32%;
    background-color: rgba(19, 108, 67, 0.527);
    margin: 50px 80px;
    padding: 20px 100px;
    border-radius: 15px;
}
li{
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    
}
h3,h1{
    font-size: 30px;
    font-family: 'poppins';
    font-weight: 600;
}
/*
My portfolio pgle styling*/
.introduction{
    height: 100%;
    width: 40%;
    border-radius: 15px;
    background-color: rgba(48, 126, 82, 0.321);

}
.introduction h3{
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
}
.introduction ul li{
    font-size: 20px;
    font-weight: 500;
    margin: 35px 100px;
}
@keyframes manya{
    0%{
        background-image: url(photo);
    }
    50%{
        background-image: url(3.png);
    }
    75%{
        background-image: url(45.png);
    }
    100%{
        background-image: url(2.png);
    }
}
.imgp{
    height: 100%;
    width: 55%;
    border-radius: 15px;
    background-image: url(photo);
    background-size: cover;
    background-position: center;
       animation-name: manya; 
       animation-duration: 10s;
       animation-delay: 2s;
       animation-iteration-count: infinite;
       animation-direction: initial;
    animation-name: manya;
}